---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout
    title="Page Title"
    description="Page Description"
    openGraphType="website">
    <div class="relative -mt-8">
        <div class="z-10 h-[30rem]">
            <div class="flex items-center justify-center h-full">
                <div class="text-center">
                    <h2 class="text-[36px] leading-[54px] sm:text-[64px] sm:leading-[96px]">
                        Hello
                    </h2>
                    <h3 class="text-[30px] leading-[45px] text-gray-500 sm:text-[48px] sm:leading-[72px]">
                        World
                    </h3>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>