---
import clsx from 'clsx';

export interface Props {
    to: string;
};
const { to } = Astro.props;

const currentUrl = Astro.request.url;

const classes = clsx(
    'hover:text-gray-900',
    {
        'text-gray-500': !currentUrl.pathname.startsWith(to),
        'text-gray-900 font-semibold': currentUrl.pathname.startsWith(to),
    });
---
<a href={to} class={classes}>
    <slot />
</a>